<div id="content-root">
  <!-- nav -->
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#" i18n="Nav header|The header from the navigation bar">Clinic</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [class.active]="router.url === '/'">
          <a class="nav-link" [routerLink]="['/']" i18n="Home page link">Home</a>
        </li>
        <li *ngIf="currentUser && currentUser.role === Roles.Admin" class="nav-item" [class.active]="router.url === 'admin'">
          <a class="nav-link" [routerLink]="['/admin']" i18n="Control panel">Admin</a>
        </li>

      </ul>
      <ul class="navbar-nav my-2 my-lg-0">
        <div *ngIf="!currentUser; then thenBlock; else elseBlock"></div>
        <ng-template #thenBlock>
          <li class="nav-item" [class.active]="router.url === '/login'">
            <a class="nav-link" [routerLink]="['/login']" [queryParams]="{returnUrl: returnUrl || undefined}" i18n="Login page link">Login</a>
          </li>
          <li class="nav-item" [class.active]="router.url === '/register'">
            <a class="nav-link" [routerLink]="['/register']" [queryParams]="{returnUrl: returnUrl || undefined}" i18n="Register page link">Register</a>
          </li>
        </ng-template>
        <ng-template #elseBlock>
            <li class="nav-item">
              <a class="nav-link" (click)="logout()" i18n="Logout link">Logout</a>
            </li>
        </ng-template>
      </ul>
    </div>
  </nav>

  <!-- main app container -->
  <div class="container">
    <router-outlet></router-outlet>
  </div>

</div>
