<div class="container-fluid">
  <ngb-accordion [closeOthers]="true" activeIds="static-1">


    <ngb-panel id="static-1" i18n-title title="Doctors">
      <ng-template ngbPanelContent>
        <div class="p-2">
          <div class="d-flex flex-row flex-wrap align-content-around align-items-stretch" style="height: 18rem">

            <div *ngFor="let doc of doctors$ | async" class="card m-2" style="width: 12rem">
              <img class="card-img-top" src="assets/UserAvatar.png" i18n-alt alt="Doctor photo">
              <div class="card-body">
                <h5 class="card-title">{{doc.name.surname}} {{doc.name.firstName}} {{doc.name.patronym}}</h5>
                <div class="btn-group d-inline-flex" role="group" aria-label="Admin doctor tools">
                  <button type="button" class="btn btn-primary" (click)="editDoctor(doc)" i18n>Edit</button>
                  <button type="button" class="btn btn-danger" i18n>Delete</button>
                </div>
              </div>
            </div>

            <div class="card m-2" style="width: 12rem" (click)="addDoctor()">
              <img class="card-img" src="assets/AddCross.png" i18n-alt alt="Add doctor">
            </div>

          </div>
        </div>
      </ng-template>
    </ngb-panel>


    <ngb-panel id="static-2" i18n-title title="Departments">
      <ng-template ngbPanelContent>
          <div class="d-flex flex-row flex-wrap align-content-around align-items-center">
            <div class="card" style="width: 24rem">
              <div class="card-header">
                Department of surgery
              </div>
              <div class="card-body">
                <ul>
                  <li>Ivan Ivanovich</li>
                  <li>Sergej Sergeevich</li>
                </ul>
              </div>
            </div>
          </div>
      </ng-template>
    </ngb-panel>


  </ngb-accordion>
</div>
