<div class="card mt-4">
  <h4 class="card-header">Home</h4>
  <div class="card-body">
      <p>You're logged in with Angular 8 & JWT!!</p>
      <p>Your role is: <strong>{{currentUser.role}}</strong>.</p>
      <p>This page can be accessed by <u>all authenticated users</u>.</p>
      <p class="mb-1">Current user from secure api end point:</p>
      <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
      <ul *ngIf="currentUser">
          <li>{{currentUser.name.firstName}} {{currentUser.name.surname}}</li>
      </ul>
  </div>
</div>
