<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <h4 class="card-header" i18n="Registration form header">Registration form</h4>
    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="username" i18n>Username</label>
          <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required" i18n>Username is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="first_name" i18n>Name</label>
          <input type="text" formControlName="first_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }" />
          <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
            <div *ngIf="f.first_name.errors.required" i18n>First name is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="surname" i18n>Surname</label>
          <input type="text" formControlName="surname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.surname.errors }" />
          <div *ngIf="submitted && f.surname.errors" class="invalid-feedback">
            <div *ngIf="f.surname.errors.required" i18n>Surname is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="patronym" i18n>Patronym</label>
          <input type="text" formControlName="patronym" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.patronym.errors }" />
          <div *ngIf="submitted && f.patronym.errors" class="invalid-feedback">
            <div *ngIf="f.patronym.errors.required" i18n>Patronym is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="password" i18n>Password</label>
          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required" i18n>Password is required</div>
          </div>
        </div>

        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          <ng-container i18n>Register</ng-container>
        </button>

        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>

      </form>
    </div>
  </div>
</div>
